Inicio/Web References/passwordsSeguros/passwordseguro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="esSeguro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="esSeguroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="esSeguroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="esSeguroSoapIn">
    <wsdl:part name="parameters" element="tns:esSeguro" />
  </wsdl:message>
  <wsdl:message name="esSeguroSoapOut">
    <wsdl:part name="parameters" element="tns:esSeguroResponse" />
  </wsdl:message>
  <wsdl:portType name="passwordseguroSoap">
    <wsdl:operation name="esSeguro">
      <wsdl:input message="tns:esSeguroSoapIn" />
      <wsdl:output message="tns:esSeguroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="passwordseguroSoap" type="tns:passwordseguroSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="esSeguro">
      <soap:operation soapAction="http://tempuri.org/esSeguro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="passwordseguroSoap12" type="tns:passwordseguroSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="esSeguro">
      <soap12:operation soapAction="http://tempuri.org/esSeguro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="passwordseguro">
    <wsdl:port name="passwordseguroSoap" binding="tns:passwordseguroSoap">
      <soap:address location="http://localhost:58026/passwordseguro.asmx" />
    </wsdl:port>
    <wsdl:port name="passwordseguroSoap12" binding="tns:passwordseguroSoap12">
      <soap12:address location="http://localhost:58026/passwordseguro.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>